<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
    xmlns:content="http://purl.org/rss/1.0/modules/content/"
    xmlns:wfw="http://wellformedweb.org/CommentAPI/"
    xmlns:dc="http://purl.org/dc/elements/1.1/"
    xmlns:atom="http://www.w3.org/2005/Atom"
    xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
    xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
>

<channel>
    <title>{{ options.blogname }}</title>
    <atom:link href="{{ url('blog_feed') }}" rel="self" type="application/rss+xml" />
    <link>{{ options.siteurl }}</link>
    <description></description>
    <lastBuildDate>Wed, 03 Nov 2010 12:06:15 +0000</lastBuildDate>
    <language>{{ options.rss_language }}</language>
    <sy:updatePeriod>hourly</sy:updatePeriod>
    <sy:updateFrequency>1</sy:updateFrequency>
    {% for post in posts %}
        <item>
            <title>{{ post.title }}</title>
            <link>{{ url('blog_show', {'slug' : post.slug}) }}</link>
            <pubDate>{{ post.publishedAt | date('r') }}</pubDate>
            <dc:creator>{{ post.author.displayName }}</dc:creator>
            <description><![CDATA[{{ post.excerpt | raw }}]]></description>
            <content:encoded><![CDATA[{{ post.content | raw }}]]></content:encoded>
        </item>
    {% endfor %}
</channel>
</rss>
