{% extends '::base.html.twig' %}

{% block content %}
    {% for post in posts %}
        <h2><a href="{{ path('blog_show', {'slug': post.slug }) }}" rel="bookmark" title="{{ post.title }}">{{ post.title }}</a></h2>

        {% if post.excerpt %}
            {{ post.excerpt | autop | raw }}
        {% else %}
            {{ post.content | autop | raw }}
        {% endif %}
    {% endfor %}
{% endblock %}

